@{
    ViewData["Title"] = "DeleteMovie Page";
}
<link rel="stylesheet" type="text/css" href="~/css/extraStyle.css">
<script src="~/js/site.js"></script>

<div id="page">
	
				<div class="rentMov">
					<div class="buttonMov">
							<a href="./Rent"><input type="button" value="Back" /></a>
					</div>
					<h1>Delete a Movie </h1>
					
					<div class="Rent1">
						<form>
						<label>Edit a Movie</label>
						<input type="text" placeholder="Add a movie..">

						

						<input type="submit" value="Submit">

				


					  </form>
  
					</div>
					
				</div>
				

		
		
		
		<div id="footer">
			<div>
				
				<p>DIS Assignment #3</p>
			</div>
		</div>
	</div>


