@{
    ViewData["Title"] = "EditMovie Page";
}
<link rel="stylesheet" type="text/css" href="~/css/extraStyle.css">


<div id="page">
	
				<div class="rentMov">
					<div class="buttonMov">
							<a href="./Rent"><input type="button" value="Back" /></a>
					</div>
					<h1>Edit a movie </h1>
					
					<div class="Rent1">
						<form>
						<label>Edit a Movie</label>
						<input type="text" placeholder="Edit a movie..">

						

						<a href="./EditMovieB"><input type="button" value="Edit a Movie" /></a>
					  </form>
  
					</div>
					
				</div>
				

		
		
		
		<div id="footer">
			<div>
				
				<p>DIS Assignment #3</p>
			</div>
		</div>
	</div>
