@model DataGov_API_Intro_6.Models.Parks

@{ ViewData["Title"] = "Index"; }

<h2>Index</h2>

@foreach (DataGov_API_Intro_6.Models.Park park in Model.data)
{@(park.parkCode + " " + park.fullName + " " + park.latLong)
                <br />
  }